/* CONTROLLER */
#avatar svg {
  background-color: #DDDDDD;
  padding: 20px;
}
body {
  background-color: #505050;
}
#controller {
  padding: 20px;
  margin-left: 44px;
}

#crown-controller, #head-controller, #eye-controller, #mouth-controller {
  clear: both;
}

.last, .next, .theme {
  float: left;
  margin: 3px;
}
.last {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 30px solid #A3A3A3;
}
.next {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #A3A3A3;
}
.theme {
  width: 30px;
  height: 30px;
  background-color: #A3A3A3;
}

/* SVG COLOR THEMES */

.athens {
  fill: #aa4400;
}
.athens .color-bright {
  fill: #6cdcfc;
}
.athens .color-dark {
  fill: #1F1F1F;
}

.nocturn {
  fill: #0D1927;
}
.nocturn .color-bright {
  fill: #89C234;
}
.nocturn .color-dark {
  fill: #FFF490;
}

.san-paulo {
  fill: #724614;
}
.san-paulo .color-bright {
  fill: #72C427;
}
.san-paulo .color-dark {
  fill: #313131;
}

.miami {
  fill: #00A9EB;
}
.miami .color-bright {
  fill: #00FFD4;
}
.miami .color-dark {
  fill: #47512A;
}

.phoenix {
  fill: #B7B0A5;
}
.phoenix .color-bright {
  fill: #FFB444;
}
.phoenix .color-dark {
  fill: #93221A;
}

.ft_lauderdale {
  fill: #CC767A;
}
.ft_lauderdale .color-bright {
  fill: #F0CCB4;
}
.ft_lauderdale .color-dark {
  fill: #66403B;
}

.vegas {
  fill: #91CE74;
}
.vegas .color-bright {
  fill: #C5FF6D;
}
.vegas .color-dark {
  fill: #312E2E;
}

.gary {
  fill: #C8C2B6;
}
.gary .color-bright {
  fill: #E6DFD1;
}
.gary .color-dark {
  fill: #000000;
}
